html,
body {
  background: #f2f4f8;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.signup,
.signin {
  margin: 50px auto;
}
.heading {
  text-align: center;
  margin-top: 2em;
}
.alert {
  margin-top: 1.2em;
}
form {
  max-height: 600px;
  max-width: 600px;
}
.form-border {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 600px;
  width: 600px;
  border-radius: 10px;

  /* border: 1px solid #bfbfbf; */
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px #aaaaaa;
}
.right-nav {
  cursor: pointer;
}
