html,
body {
  background: #f2f4f8;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.signup,
.signin {
  margin: 50px auto;
}
.heading {
  text-align: center;
  margin-top: 2em;
}
.alert {
  margin-top: 1.2em;
}
form {
  max-height: 600px;
  max-width: 600px;
}
.form-border {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 600px;
  width: 600px;
  border-radius: 10px;

  /* border: 1px solid #bfbfbf; */
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px #aaaaaa;
}
.right-nav {
  cursor: pointer;
}
.navbar-logout {
  cursor: pointer;
}
.new-post {
  background-color: rgb(57, 82, 82);
  height: 4em;
  margin-bottom: 0.4em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.post-jumbotron {
  background-color: rgb(177, 214, 214);
}
.plus-sign {
  color: white;
  font-size: 1.4em;
}
